
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOME boy</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At eum ab iste, quidem ratione laborum dolore voluptatibus non porro numquam temporibus aspernatur hic quasi! Officia similique soluta assumenda culpa aliquid sint porro pariatur! Unde alias sequi ab eaque, ex nobis quos placeat nulla provident consequuntur. Omnis reiciendis mollitia hic soluta.</p>
</body>
</html>